{{!-- </br>
<div>
    Welcome {{firstName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}."
</div>

{{#if admin}}
<p><a href="/admin">Back to the admin page</a></p>
{{/if}}

 


{{!-- <a href="/viewuser">Click here to view profile!</a> 
</br>
<a href="/edituser">Click here to edit profile!</a>  --}}
</br>
<button onclick="window.location.href='/viewuser'" type="button">
  Click here to view profile!
</button>
</br>
</br>
</br>
<button onclick="window.location.href='/edituser'" type="button">
  Click here to edit profile!
</button>
</br>
</br>
</br>
<button onclick="window.location.href='/userreviews'" type="button">
  Click here to provide feedback for an event!
</button>
</br>
<a href="/eventRegistration">Click here to register for an event!</a> 
</br>
</br>
</br>
</br>
</br>
<a class="logout-style" href="/logout" style="position:absolute; bottom:1cm">Logout</a> --}}


</br>
<div>
    Welcome {{firstName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}.
</div>

{{#if admin}}
    <p><a href="/admin">Back to the admin page</a></p>
{{/if}}

<a href="/viewuser">Click here to view profile!</a> 
</br>
<a href="/edituser">Click here to edit profile!</a> 
</br>
<a href="/eventRegistration">Click here to register for an event!</a>
</br>
<a href="/creditsTransfer">Click here to transfer credits to a friend</a>
</br>
<a class="logout-style" href="/logout" style="position:absolute; bottom:1cm">Logout</a>
